@charset "utf-8";
/* 태그정의 */
body {color:#eee}
a,
a:hover{color:#eee}
/************************************************************************/
.linkedNav,
.tag,
#main {background:none}
/************************************************************************/
/* 네비게이션 */
.navigation a,
.navigation a:hover
{color:#999}
/************************************************************************/
#main {margin-top:20px}
#main .container {background:none;border:0px solid #ccc}
#main .container a {color:#eee}
/************************************************************************/
.articleBox {padding:0 0 30px 0}
.articleBox aside {margin:0 auto}
.articleInfo {border-top:1px solid #444}
article span.imageblock img {
/* Opera */
box-shadow:5px 5px 10px rgb(33,33,33);
/* Firefox */
-moz-box-shadow:5px 5px 5px rgb(33,33,33);
/* Safiri, Chrome */
-webkit-box-shadow:5px 5px 5px rgb(33,33,33);
/* IE */
filter:progid:DXImageTransform.Microsoft.Shadow(color=rgb(33,33,33),direction=135, strength=20);
}
/************************************************************************/
.commentList > ol > li {border-left:1px solid #444}
.commentList > ol > li:hover {background:#383838;border-left:1px solid #666}

.commentList .commentRpBox {border:1px solid #444;background:#404040}
.commentList .commentRpBox:hover {background:#404040}
/************************************************************************/
.another_category,
.tag
{display:none}
/************************************************************************/
/* 페이징 */
.paging {padding:20px 0;text-align:center;border-top:0px solid #444}
.paging span a {
	color: #ddd;
	background: #444;
	text-decoration:none;
	text-align:center;
	padding:5px 9px 5px 9px;
	border: 1px solid #444;
	font:normal 12px Malgun Gothic;
	display:inline-block;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.paging span .selected {color: #eee;display:inline-block;font-weight: bold}
.paging span a:hover {background-color: #333;border: 1px solid #333;color: #eee;}
/************************************************************************/
/* 추가 정보 */
section.addInfo {background:none}
section.addInfo .grid div > div {border:1px solid #666;background:#383838}
/************************************************************************/
/* 광고 */
.adBox {display:none}
.ad3 {margin:0 auto}
/************************************************************************/